{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} {{ qc_level }} : {{ qc_name }} {% endblock %}

{% block heading %}<h1 class="page-header"></h1>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Quality Control Info</div>
            <div class="panel-body">{% crispy form %}</div>
             <!-- /.panel-body -->
            </div>
        <!-- /.panel-body -->
        </div>
    <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- Modal -->
    <div class="modal fade" id="id-deleteQualityControlModal" tabindex="-1" role="dialog" aria-labelledby="id-deleteQualityControlModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="id-deleteQualityControlModalLabel">Attention</h4>
                </div>
                <div class="modal-body">Delete this quality control? This operation cannot be undone!</div>
                <div class="modal-footer">
                    <a href="{% url 'qcs:delete_quality_control' %}?qc_level={{ qc_level }}"
                       class="btn btn-default" role="button">OK
                    </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
                <!-- /.modal-footer -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
    $(document).ready(function () {
        var redirectToIndexUrl = '{% url 'sites:index' %}';
        var qualityControlLevel = '{{ qc_level }}';
        var qualityControlName = '{{ qc_name }}';
        if (!qualityControlLevel) {
            $('#id-deleteBtn').hide();
            $('.page-header').text("Add New Quality Control");
        }
        else {
            $('.page-header').text("Manage Quality Control: " + qualityControlLevel + " - " + qualityControlName);
            $('#id-deleteBtn').attr('data-toggle', "modal");
            $('#id-deleteBtn').attr('data-target', "#id-deleteQualityControlModal");
        }
        $('#id-cancelBtn').on('click', function () {
            document.location.href = redirectToIndexUrl;
        });
    });
    </script>
{% endblock %}