{% extends 'base.html' %}

{% block heading %}
    <h1 class="page header">Status</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Battery Chart
                    <div class="pull-right">
                        <div class="btn-group">
                            <select id="statusByDaySelect" class="form-control input-sm">
                                <option value=7>Last 7 Days</option>
                                <option value=30>Last 30 Days</option>
                                <option value=365>Last 365 Days</option>
                            </select>
                        </div>
                    </div>
            </div>
            <!-- /.panel-heading -->
            <div id="chart_panel" class="panel-body" style="width:100%;height:343px"></div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
</div>
<!-- /#row -->

{% endblock %}

{% block extrajs %}

<!-- jQuery -->
<script src="{{ STATIC_URL }}jquery/dist/jquery.min.js"></script>
<!-- Highcharts JavaScript -->
<script src="{{ STATIC_URL }}Highcharts-4.1.10/js/highcharts.js"></script>
<script src="{{ STATIC_URL }}Highcharts-4.1.10/js/modules/exporting.js"></script>

<script type="text/javascript">
$(document).ready(function() {

    var jsonUrl = '{% url 'chart_data_json' %}'

    Highcharts.setOptions({
            global: {
            useUTC: false
        }
    });

     // Battery Status by day chart
     var statusByDayOptions = {
        chart: {
            renderTo: 'chart_panel',
            type: 'spline',
            zoomType: 'x'
        },
        title: {
            text: 'Daily Battery Status'
        },
        subtitle: {
            text: null
        },
        xAxis: {
            title: {
                text: null
            },
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: 'Battery'
            },
            labels: {
                formatter: function () {
                    return this.value + ' V';
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        series: []
    };
    var days = 7
    var chartDataUrl = jsonUrl + "?name=status_by_day" + "&days=" + days; //+ "&days=7";
        function loadChart(chartDataUrl, days) {
        $.getJSON(chartDataUrl,
            function(list) {
                statusByDayOptions.subtitle = {text: 'Last ' + days + ' Days'}
                statusByDayOptions.series = list
                var chart = new Highcharts.Chart(statusByDayOptions);
            });

        }

    $('#statusByDaySelect').change(function(){
        var days = $('#statusByDaySelect').val();
        var chartDataUrl = jsonUrl + '?name=status_by_day&days=' + days;
        loadChart(chartDataUrl, days);
    });
    loadChart(chartDataUrl, days);
} );
</script>
{% endblock %}


