{% extends 'base.html' %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title %} {{ site_name }}/{{ location_name }} {% endblock %}

{% block extracss %}
    <style>
        .deleteSensorSpan {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block heading %}
    <h1 class="page-header">{{ site_name }}/{{ location_name }}</h1>
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#info" data-toggle="tab">Info</a>
                    </li>
                    <li><a href="#data" data-toggle="tab">Data</a>
                    </li>
                    <li><a href="#charts" data-toggle="tab">Charts</a>
                    </li>
                    <li><a href="#sensors" data-toggle="tab">Sensors</a>
                    </li>
                    <li><a href="#editLocation" data-toggle="tab"><i class="fa fa-gear fa-fw"></i></a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="info">
                        <div id="map_container" class="col-md-6">
                            <h4>Position</h4>
                            <div id="map_canvas">
                            </div>
                        </div>
                        <div id="locationInfo" class="col-md-6">
                            <h4>Location Info</h4>
                            <ul id="basicInfo" class="list-unstyled">
                                <li><strong>Site:</strong> {{ site_name }}</li>
                                <li><strong>Location:</strong> {{ location_name }}</li>
                                <li><strong>GPS (WGS 84):</strong> {{ latitude }}, {{ longitude }}</li>
                            </ul>
                            <dl>
                                <dt>Description</dt>
                                <dd>{{ description }}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="data">
                        <h4>Data</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="tab-pane fade" id="charts">
                        <h4>Charts</h4>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Humidity Chart
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <select id="humidityByDaySelect" class="form-control input-sm">
                                                <option value=7>Last 7 Days</option>
                                                <option value=30>Last 30 Days</option>
                                                <option value=365>Last 365 Days</option>
                                            </select>
                                        </div>
                                    </div>
                            </div>
                            <!-- /.panel-heading -->
                            <div id="chart_panel" class="panel-body" style="width:100%;height:343px"></div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <div class="tab-pane fade" id="editLocation">
                        <h4></h4>
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Location Info
                                </div>
                                <div class="panel-body">
                                    {% crispy form %}
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="sensors">
                        <h4>Configured Sensors</h4>
                        <h5><a href="{% url 'sites:manage_sensor' %}?site_name={{ site_name }}&location_name={{ location_name }}"><i class="fa fa-plus fa-fw"></i> Add New Sensor</a></h5>
                        <div class="table-responsive">
                            <table id="sensorsTable" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Last Update</th>
                                        <th>Next Update</th>
                                        <th>File Path</th>
                                        <th>Line Number</th>
                                        <th>Time Format</th>
                                        <th>Time Zone</th>
                                        <th>Time Identifiers</th>
                                        <th>Parameters</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="sensorsTableBody">
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- Tab panes -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->

    <!-- Modal -->
    <div class="modal fade" id="deleteLocationModal" tabindex="-1" role="dialog" aria-labelledby="deleteLocationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="deleteLocationModalLabel">Attention</h4>
                </div>
                <div class="modal-body">
                    Delete this location? This operation cannot be undone!
                </div>
                <div class="modal-footer">
                    <a href="{% url 'sites:delete_location' %}?site_name={{ site_name }}&location_name={{ location_name }}" class = "btn btn-default" role = "button">OK</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Modal -->
    <div class="modal fade" id="deleteSensorModal" tabindex="-1" role="dialog" aria-labelledby="deleteSensorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="deleteSensorModalLabel">Attention</h4>
                </div>
                <div class="modal-body">
                    Delete this sensor? This operation cannot be undone!
                </div>
                <div class="modal-footer">
                    <a class = "btn btn-default" role = "button">OK</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock %}

{% block extrajs %}

    <!--Google Maps API-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnycWatbGyK6ldFqErjFtko1yeMclNUOA&amp;sensor=true"></script>

    <!-- Highcharts JavaScript -->
    <script src="{{ STATIC_URL }}Highcharts-4.1.10/js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}Highcharts-4.1.10/js/modules/exporting.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {

        var siteName = "{{ site_name }}";
        var locationName = "{{ location_name }}";

        var jsonSensorsUrl = '{% url 'sites:load_sensors_json' %}';
        var jsonAllSensorsDataUrl = jsonSensorsUrl + "?site_name=" + siteName + "&location_name=" + locationName;
        var redirectLocationUrl = '{% url 'sites:load_location' %}';
            redirectLocationUrl += "?site_name={{ site_name }}";
            redirectLocationUrl += "&location_name=" + locationName;



        function initMap() {

            var locationLat = "{{ latitude }}";
            var locationLong = "{{ longitude }}";

                if (locationLat && locationLong) {
                    var latlng = new google.maps.LatLng(locationLat, locationLong);
                    var myOptions = {
                        zoom: 13,
                        center: latlng,
                        mapTypeId: google.maps.MapTypeId.TERRAIN
                    };
                    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

                    var marker = new google.maps.Marker({
                        position: latlng,
                        map: map,
                        title: '{{ location }}' + ' (locationLat, locationLong)'
                    });

                    google.maps.event.trigger(map, 'resize');

                }

        }


        function initSensors(Url) {
            $.getJSON(Url, function(allSensorsData) {
                $.each(allSensorsData, function(i, sensor) {
                    var lastUpdate = sensor.last_update;
                    var nextUpdate = sensor.next_update;
                    var statusIcon = '<i class="fa fa-times fa-fw"></i>';

                    if(nextUpdate) {
                        statusIcon = '<i class="fa fa-check fa-fw"></i>';
                    }
                    else {
                        nextUpdate = "N/A";
                    }
                    if(!lastUpdate) {
                        lastUpdate = "N/A";
                    }

                    var editSensorUrl = '{% url 'sites:manage_sensor' %}';
                        editSensorUrl += "?site_name=" + siteName;
                        editSensorUrl += "&location_name=" + locationName;
                        editSensorUrl += "&sensor_name=" + sensor.sensor;

                    var deleteSensorUrl = '{% url 'sites:delete_sensor' %}';
                        deleteSensorUrl += "?site_name=" + siteName;
                        deleteSensorUrl += "&location_name=" + locationName;
                        deleteSensorUrl += "&sensor_name=" + sensor.sensor;

                    $('#sensorsTableBody').append(
                        '<tr>'
                            + '<td>' + statusIcon + '</td>'
                            + '<td>' + sensor.sensor + '</td>'
                            + '<td>' + sensor.description + '</td>'
                            + '<td>' + lastUpdate + '</td>'
                            + '<td>' + nextUpdate + '</td>'
                            + '<td>' + sensor.file_path + '</td>'
                            + '<td>' + sensor.file_line_num + '</td>'
                            + '<td>' + sensor.time_format + '</td>'
                            + '<td>' + sensor.time_zone + '</td>'
                            + '<td>' + sensor.time_ids + '</td>'
                            + '<td>' + sensor.parameters + '</td>'
                            + '<td><a href="' + editSensorUrl + '"><i class="fa fa-gear fa-fw"></i></a></td>'
                            + '<td><span class="deleteSensorSpan" value=' + sensor.sensor + ' data-toggle="modal" data-target="#deleteSensorModal"><i class="fa fa-trash-o fa-fw"></i></span></td>'
                        + '</tr>'
                    );

                });
            });
        }

        function initCharts() {
            var jsonUrl = '{% url 'sites:chart_data_json' %}'

            Highcharts.setOptions({
                    global: {
                    useUTC: false
                }
            });

             // Humidity by day chart
             var humidityByDayOptions = {
                chart: {
                    renderTo: 'chart_panel',
                    type: 'spline',
                    zoomType: 'x'
                },
                title: {
                    text: 'Daily Humidity'
                },
                subtitle: {
                    text: null
                },
                xAxis: {
                    title: {
                        text: null
                    },
                    type: 'datetime'
                },
                yAxis: {
                    title: {
                        text: 'Humidity'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + ' %';
                        }
                    }
                },
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                plotOptions: {
                    spline: {
                        marker: {
                            radius: 4,
                            lineColor: '#666666',
                            lineWidth: 1
                        }
                    }
                },
                series: []
            };
            var days = 7
            var chartDataUrl = jsonUrl + "?name=humidity_by_day" + "&days=" + days; //+ "&days=7";
                function loadChart(chartDataUrl, days) {
                $.getJSON(chartDataUrl,
                    function(list) {
                        humidityByDayOptions.subtitle = {text: 'Last ' + days + ' Days'}
                        humidityByDayOptions.series = list
                        var chart = new Highcharts.Chart(humidityByDayOptions);
                    });

                }

            $('#humidityByDaySelect').change(function(){
                var days = $('#humidityByDaySelect').val();
                var chartDataUrl = jsonUrl + '?name=humidity_by_day&days=' + days;
                loadChart(chartDataUrl, days);
            });
            loadChart(chartDataUrl, days);
        }

        $('#sensorsTableBody').on('click', '.confirmation', function () {
                return confirm('Delete this sensor? This operation cannot be undone!');
            });

        $('a[href="#info"]').on('shown', function(e) {
            google.maps.event.trigger(map, 'resize');
            });
            $("#map_canvas").css("width", 400).css("height", 400);

        $('#button-id-cancel').on('click', function() {
                document.location.href = redirectLocationUrl;
        });
        $('#sensorsTableBody').on('click', '.deleteSensorSpan', function() {
            var targetSensor = $(this).attr('value');
            var delSensorUrl = "{% url 'sites:delete_sensor' %}?site_name=" + siteName + "&location_name=" + locationName + "&sensor_name=" + targetSensor;
            $('#deleteSensorModal').find('a').attr('href', delSensorUrl);
        });
        $('#button-id-delete').attr('data-toggle', "modal");
        $('#button-id-delete').attr('data-target', "#deleteLocationModal");

    initMap();
    initSensors(jsonAllSensorsDataUrl);
    initCharts();

    });

    </script>

{% endblock %}