{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} {{ site_name }}/{{ location_name }} {% endblock %}

{% block extracss %}
    <!-- DataTables CSS -->
    <link href="{{ STATIC_URL }}DataTables-1.10.11/media/css/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{{ STATIC_URL }}Responsive-2.0.2/css/responsive.bootstrap.css" rel="stylesheet">
{% endblock %}

{% block heading %}<h1 class="page-header"><i class="fa fa-map-marker fa-fw"></i>{{ site_name }}/{{ location_name }}</h1>{% endblock %}

{% block content %}
    <div id="id-logsPage" class="col-lg-12">
        <div id="id-logsPanel" class="panel panel-default">
        </div>
    </div>
    <!-- /.col-lg-12 -->
{% endblock %}

{% block extrajs %}
    <!-- DataTables JavaScript -->
    <script src="{{ STATIC_URL }}DataTables-1.10.11/media/js/jquery.dataTables.min.js"></script>
    <script src="{{ STATIC_URL }}DataTables-1.10.11/media/js/dataTables.bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}Responsive-2.0.2/js/dataTables.responsive.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        var siteName = '{{ site_name }}';
        var locationId = '{{ location_id }}';
        var locationName = '{{ location_name }}';
        var jsonLocationLogsUrl = '{% url 'sites:load_location_logs_json' %}' + '?json_request=' + true;
        var jsonSiteLocationsDataUrl = jsonLocationLogsUrl + '&location_id=' + locationId;
        var manageLogBaseUrl = '{% url 'sites:manage_log' %}'
            + '?site_name=' + siteName + '&location_id=' + locationId + '&location_name=' + locationName;
        var $logsPanel = $('#id-logsPanel');

        function initLogPanels () {
            $.getJSON(jsonSiteLocationsDataUrl, function (allLocationLogsData) {
                $.each(allLocationLogsData, function (i, log) {
                    var logId = log.log_id;
                    var logName = log.log_name;
                    var logDescription = log.log_description;
                    if (!logDescription) {
                        var logDescription = "-";
                    }
                    var manageLogUrl = manageLogBaseUrl + '&log_id=' + logId + '&log_name=' + logName;

                    $logsPanel.append(
                        '<div class="panel-heading">'
                            + '<h4 class="panel-title">'
                                + '<i class="fa fa-database fa-fw"></i> '
                                + '<a data-toggle="collapse" data-parent="#accordion" href="#id-'
                                    + logId + '-panel">' + log.log_name
                                + '</a>'
                                + '<a href="' + manageLogUrl + '"><i class="fa fa-edit fa-fw pull-right"></i></a>'
                            + '</h4>'
                        + '</div>'
                    );

                    $logsPanel.append(
                        '<div id="id-' + logId + '-panel" class="panel-collapse collapse">'
                        + '</div>'
                    );

                    $('#id-' + logId + '-panel').append(
                        '<div class="panel-body"><h4>Log Info</h4>'
                            + '<div class="table-responsive table-bordered">'
                                + '<table class="table">'
                                    + '<thead>'
                                        + '<tr>'
                                            + '<th>ID</th>'
                                            + '<th>Name</th>'
                                            + '<th>Description</th>'
                                        + '</tr>'
                                    + '</thead>'
                                    + '<tbody>'
                                        + '<tr>'
                                            + '<td>' + logId + '</td>'
                                            + '<td>' + logName + '</td>'
                                            + '<td>' + logDescription + '</td>'
                                        + '</tr>'
                                    + '</tbody>'
			                    + '</table>'
                            + '</div>'
                        + '</div>'
                    );

                    var manageLogUpdateInfoUrl = '{% url 'sites:manage_log_update_info' %}'
                        + '?site_name=' + siteName + '&location_id=' + locationId
                        + '&location_name=' + locationName + '&log_id=' + logId + '&log_name=' + logName;

                    $('#id-' + logId + '-panel').append(
                        '<div class="col-lg-12">'
                            + '<div class="panel panel-default">'
                                + '<div class="panel-heading">'
                                    + '<h4 class="panel-title"><i class="fa fa-refresh fa-fw"></i> Update Info'
                                        + '<a href="' + manageLogUpdateInfoUrl + '">'
                                            + '<i class="fa fa-edit fa-fw pull-right"></i>'
                                        + '</a>'
                                    + '</h4>'
                                + '</div>'
                                + '<div id="id-' + logId + '-updateInfoPanel" class="panel-body"></div>'
                            + '</div>'
                        + '</div>'
                    );

                    var manageLogQCInfoUrl = '{% url 'sites:manage_log_qc_info' %}'
                        + '?site_name=' + siteName + '&location_id=' + locationId
                        + '&location_name=' + locationName + '&log_id=' + logId + '&log_name=' + logName;

                    $('#id-' + logId + '-panel').append(
                        '<div class="col-lg-12">'
                            + '<div class="panel panel-default">'
                                + '<div class="panel-heading">'
                                    + '<h4 class="panel-title"><i class="fa fa-check-circle-o fa-fw"></i>'
                                        + ' Quality Control Info'
                                        + '<a href="' + manageLogQCInfoUrl + '">'
                                            + '<i class="fa fa-edit fa-fw pull-right"></i>'
                                        + '</a>'
                                    + '</h4>'
                                + '</div>'
                                + '<div id="id-' + logId + '-qcInfoPanel" class="panel-body"></div>'
                            + '</div>'
                        + '</div>'
                    );

                    $('#id-' + logId + '-updateInfoPanel').append(
                        '<div class="panel-body"><h4>Update Info</h4>'
                            + '<div class="table-responsive table-bordered">'
                                + '<table class="table">'
                                    + '<thead>'
                                        + '<tr>'
                                            + '<th>Status</th>'
                                            + '<th>File Path</th>'
                                            + '<th>Line Number</th>'
                                            + '<th>Update Interval</th>'
                                            + '<th>Last Update</th>'
                                            + '<th>Next Update</th>'
                                        + '</tr>'
                                    + '</thead>'
                                    + '<tbody>'
                                        + '<tr>'
                                            + '<td id="id-' + logId + '-updateInfoStatusIcon">'
                                                + '<i class="fa fa-circle fa-fw" style="color:orange"></td>'
                                            + '<td id="id-' + logId + '-updateInfoFilePath">-</td>'
                                            + '<td id="id-' + logId + '-updateInfoFileLineNum">-</td>'
                                            + '<td id="id-' + logId + '-updateInfoUpdateInterval">-</td>'
                                            + '<td id="id-' + logId + '-updateInfoLastUpdate">-</td>'
                                            + '<td id="id-' + logId + '-updateInfoNextUpdate">-</td>'
                                        + '</tr>'
                                    + '</tbody>'
                                + '</table>'
                            + '</div>'
                        + '</div>'
                    );

                    var jsonLogUpdateInfoUrl = '{% url 'sites:load_log_update_info_json' %}' + '?json_request=' + true
                        + '&log_id=' + logId;

                    $.getJSON(jsonLogUpdateInfoUrl, function (LogUpdateInfoData) {
                        $.each(LogUpdateInfoData, function (j, log_update_info) {
                            var updateInterval = log_update_info.log_update_interval;
                            var lastUpdate = log_update_info.log_last_update;
                            var nextUpdate = log_update_info.log_next_update;
                            var filePath = log_update_info.log_file_path;
                            var lineNum = log_update_info.log_file_line_num;
                            if (nextUpdate) {
                                $('id-' + logId + '-updateInfoStatusIcon').find('i').attr('style',"color:green");
                                $('id-' + logId + '-updateInfoNextUpdate').text(nextUpdate)
                            }
                            if (lastUpdate) {$('id-' + logId + '-updateInfoLastUpdate').text(lastUpdate)}
                            if (updateInterval) {{$('id-' + logId + '-updateInfoUpdateInterval').text(updateInterval)}
                            if (filePath) {$('id-' + logId + '-updateInfoFilePath').text(filePath)}
                            if (lineNum) {$('id-' + logId + '-updateInfoFilePath').text(lineNum)}
                        });
                    });

                    $('#id-' + logId + '-updateInfoPanel').append(
                        '<div class="panel-body"><h4>Time Info</h4>'
                            + '<div class="table-responsive table-bordered">'
                                + '<table class="table">'
                                    + '<thead>'
                                        + '<tr>'
                                            + '<th>Logger Time Format</th>'
                                            + '<th>Log Time Identifiers</th>'
                                            + '<th>Time Zone</th>'
                                        + '</tr>'
                                    + '</thead>'
                                    + '<tbody>'
                                    + '<tr>'
                                        + '<td id="id-' + logId + '-timeInfoLoggerTimeFormat">-</td>'
                                        + '<td id="id-' + logId + '-timeInfoLogTimeIds">-</td>'
                                        + '<td id="id-' + logId + '-timeInfoLogTimeZone">-</td>'
                                    + '</tr>'
                                    + '</tbody>'
                                + '</table>'
                            + '</div>'
                        + '</div>'
                    );

                    var jsonLogTimeInfoUrl = '{% url 'sites:load_log_time_info_json' %}'
                        + '?log_id=' + logId;
                    $.getJSON(jsonLogTimeInfoUrl, function (LogTimeInfoData) {
                        $.each(LogTimeInfoData, function (j, log_time_info) {
                            var loggerTimeFormat = log_time_info.logger_time_format_name;
                            var logTimeIds = log_time_info.log_time_ids;
                            var logTimeZone = log_time_info.log_time_zone;
                            if(loggerTimeFormat) {$('id-' + logId + '-timeInfoLoggerTimeFormat').text(loggerTimeFormat)}
                            if(logTimeIds.length > 0) {
                                $('id-' + logId + '-timeInfoLogTimeIds').text(logTimeIds)
                            }
                            if(logTimeZone) {$('id-' + logId + '-timeInfoLogTimeZone').text(logTimeZone)}
                        });
                    });

                    $('#id-' + logId + '-updateInfoPanel').append(
                        '<div class="panel-body"><h4>Parameters</h4>'
                            + '<div class="table-responsive table-bordered">'
                                + '<table class="table">'
                                    + '<thead>'
                                        + '<tr>'
                                            + '<th>Parameters</th>'
                                            + '<th>Reading Types</th>'
                                        + '</tr>'
                                    + '</thead>'
                                    + '<tbody>'
                                        + '<tr>'
                                            + '<td id="id-' + logId + '-paramsInfoParameters"></td>'
                                            + '<td id="id-' + logId + '-paramsInfoReadingTypes"></td>'
                                        + '</tr>'
                                    + '</tbody>'
                                + '</table>'
                            + '</div>'
                        + '</div>'
                    );

                    var jsonLogParamsInfoUrl = '{% url 'sites:load_log_parameters_info_json' %}'
                        + '?log_id=' + logId;
                    $.getJSON(jsonLogParamsInfoUrl, function (LogParamsInfoData) {
                        if (LogParamsInfoData.length == 0) {
                                $('#id-' + logId + '-paramsInfoParameters').text("-");
                                $('#id-' + logId + '-paramsInfoReadingTypes').text("-");
                            }
                        $.each(LogParamsInfoData, function (j, log_params_info) {
                            var logParams = log_params_info.log_parameters;
                            var logReadingTypes = log_params_info.log_reading_types;
                            $.each(logParams, function (k, param) {
                                $.each(logReadingTypes, function (param_name, param_type) {
                                    if (param == param_name) {
                                        $('#id-' + logId + '-paramsInfoParameters').append(
                                            param_name + '<br>'
                                        );
                                        $('#id-' + logId + '-paramsInfoReadingTypes').append(
                                            param_type + '<br>'
                                        );
                                    }
                                });
                            });
                        });
                    });

                    $('#id-' + logId + '-qcInfoPanel').append(
                        '<div class="panel-body"><h4>Quality Control Info</h4>'
                            + '<div class="table-responsive table-bordered">'
                                + '<table class="table">'
                                    + '<thead>'
                                        + '<tr>'
                                            + '<th>Status</th>'
                                            + '<th>QC Level</th>'
                                            + '<th>QC Name</th>'
                                            + '<th>Last QC</th>'
                                            + '<th>Next QC</th>'
                                            + '<th>Replacement Value</th>'
                                        + '</tr>'
                                    + '</thead>'
                                    + '<tbody id="id-' + logId + '-qc-tbody"></tbody>'
                                + '</table>'
                            + '</div>'
                        + '</div>'
                    );

                    var jsonLogQCInfoUrl = '{% url 'sites:load_log_qc_info_json' %}' + '?json_request=' + true
                        + '&log_id=' + logId;
                    var manageLogQCInfoUrl = '{% url 'sites:manage_log_qc_info' %}'
                        + '?log_id=' + logId + '&log_name=' + logName;

                    $('#id-' + logId + '-qcInfoPanel').append(
                        '<div class="panel-body"><h4>Quality Control Values</h4>'
                            + '<div class="table-responsive table-bordered">'
                                + '<table class="table">'
                                    + '<thead>'
                                        + '<tr>'
                                            + '<th>QC Level</th>'
                                            + '<th>Month</th>'
                                            + '<th>Parameters</th>'
                                            + '<th>Time Interval</th>'
                                            + '<th>Parameters Min Values</th>'
                                            + '<th>Parameters Max Values</th>'
                                            + '<th>Window Size</th>'
                                        + '</tr>'
                                    + '</thead>'
                                    + '<tbody id="id-' + logId + '-qcValues-tbody"></tbody>'
                                + '</table>'
                            + '</div>'
                        + '</div>'
                    );

                    $.getJSON(jsonLogQCInfoUrl, function (LogQCInfoData) {
                        if (LogQCInfoData.length == 0) {
                            $('#id-' + logId + '-qc-tbody').append(
                                '<tr>'
                                    + '<td><i class="fa fa-circle fa-fw" style="color:orange"></i></td></td>'
                                    + '<td>-</td>'
                                    + '<td>-</td>'
                                    + '<td>-</td>'
                                    + '<td>-</td>'
                                    + '<td>-</td>'
                                    + '<td>-</td>'
                                + '</tr>'
                            );
                        }
                        else {
                            $.each(LogQCInfoData, function (j, log_qc_info) {
                                $('#id-' + logId + '-qc-tbody').append(
                                    '<tr>'
                                        + '<td id="id-' + logId + '-qcInfoStatusIcon_Row_' + j + '">'
                                            + '<i class="fa fa-circle fa-fw" style="color:orange"></i></td>'
                                        + '<td id="id-' + logId + '-qcInfoQcLevel_Row_' + j + '">-</td>'
                                        + '<td id="id-' + logId + '-qcInfoQcName_Row_' + j + '">-</td>'
                                        + '<td id="id-' + logId + '-qcInfoQcInterval_Row_' + j + '">-</td>'
                                        + '<td id="id-' + logId + '-qcInfoLastQc_Row_' + j + '">-</td>'
                                        + '<td id="id-' + logId + '-qcInfoNextQc_Row_' + j + '">-</td>'
                                        + '<td id="id-' + logId + '-qcInfoRepValue_Row_' + j + '">-</td>'
                                    + '</tr>'
                                );
                                var qcLevel = log_qc_info.log_qc_level;
                                var qcName = log_qc_info.log_qc_name;
                                var qcInterval = log_qc_info.log_qc_interval;
                                var lastQC = log_qc_info.log_last_quality_control;
                                var nextQC = log_qc_info.log_next_quality_control;
                                var repValue = log_qc_info.log_qc_replacement_value;
                                if (nextQC) {
                                    $('#id-' + logId + '-qcInfoStatusIcon_Row_' + j).find('i').attr(
                                        'style', "color:green"
                                    );
                                    $('#id-' + logId + '-qcInfoNextQc_Row_' + j).text(nextQC);
                                }
                                if (lastQc) {$('#id-' + logId + '-qcInfoLastQc_Row_' + j).text(lastQc);}
                                if (qcInterval) {$('#id-' + logId + '-qcInfoQcInterval_Row_' + j).text(qcInterval);}
                                if (qcLevel) {$('#id-' + logId + '-qcInfoQcLevel_Row_' + j).text(qcLevel);}
                                if (qcName) {$('#id-' + logId + '-qcInfoQcName_Row_' + j).text(qcName);}
                                if (repValue) {$('#id-' + logId + '-qcInfoRepValue_Row_' + j).text(repValue);}

                                var jsonLogQCValuesUrl = '{% url 'sites:load_log_qc_values_json' %}'
                                    + '?json_request=' + true + '&log_id=' + logId + '&qc_level=' + qcLevel;
                                $.getJSON(jsonLogQCValuesUrl, function (LogQCValuesData) {
                                    if (LogQCValuesData.length > 0) {
                                        $('#id-' + logId + '-qcValues-tbody').append(
                                            '<tr>'
                                                + '<td id="id-' + logId + '_qcLevel_' + qcLevel + '-qcValuesQcLevel">-</td>'
                                                + '<td id="id-' + logId + '_qcLevel_' + qcLevel + '-qcValuesQcMonth">-</td>'
                                                + '<td id="id-' + logId + '_qcLevel_' + qcLevel + '-qcValuesQcParams">-</td>'
                                                + '<td id="id-' + logId + '_qcLevel_' + qcLevel + '-qcValuesQcTimeInterval">-</td>'
                                                + '<td id="id-' + logId + '_qcLevel_' + qcLevel + '-qcValuesQcMinVals">-</td>'
                                                + '<td id="id-' + logId + '_qcLevel_' + qcLevel + '-qcValuesQcMaxVals">-</td>'
                                                + '<td id="id-' + logId + '_qcLevel_' + qcLevel + '-qcValuesQcWindSizes">-</td>'
                                            +'</tr>'
                                        );

                                        LogQCValues = LogQCValuesData[0];
                                        var month = LogQCValues.month_first_day;
                                        var qcParams = LogQCValues.qc_parameters;
                                        var qcTimeInterval = LogQCValues.qc_time_interval;
                                        var qcParamsMinValues = LogQCValues.qc_parameters_min_values;
                                        var qcParamsMaxValues = LogQCValues.qc_parameters_max_values;
                                        var qcWindowSizes = LogQCValues.qc_window_sizes;
                                        if (month) {
                                            $('#id-' + logId + '_qcLevel_' + qcLevel + '-qcValuesQcMonth').text(month)
                                        }
                                        if (qcTimeInterval){
                                            $('#id-' + logId + '_qcLevel_' + qcLevel + '-qcValuesQcTimeInterval').text(qcTimeInterval)
                                        }

                                        $.each(qcParams, function (k, qcParam) {
                                            $('#id-' + logId + '_qcLevel_' + qcLevel + '-qcValuesQcParams').append(
                                                        qcParam + ',<br>'
                                                    );
                                            $.each(qcParamsMinValues, function (qcParamName, paramMinValue) {
                                                if (qcParam == qcParamName) {
                                                    $('#id-' + logId + '_qcLevel_' + qcLevel + '-qcValuesQcMinVals').append(
                                                        paramMinValue + ',<br>'
                                                    );
                                                }
                                            });
                                            $.each(qcParamsMaxValues, function (qcParamName, paramMaxValue) {
                                                if (qcParam == qcParamName) {
                                                    $('#id-' + logId + '_qcLevel_' + qcLevel + '-qcValuesQcMaxVals').append(
                                                        paramMaxValue + ',<br>'
                                                    );
                                                }
                                            });
                                            $.each(qcWindowSizes, function (qcParamName, paramWindowSize) {
                                                if (qcParam == qcParamName) {
                                                    $('#id-' + logId + '_qcLevel_' + qcLevel + '-qcValuesQcWindSizes').append(
                                                        paramWindowSize + ',<br>'
                                                    );
                                                }
                                            });
                                        });
                                    }
                                });
                            });
                        }
                    });
                });
            });
        }

        function initAddLogLink () {
            $('#id-logsPage').append(
                '<a href="' + manageLogBaseUrl + '">'
                    + '<i class="fa fa-plus fa-fw"></i> Add Log'
                + '</a>'
            );
        }

        initLogPanels();
        initAddLogLink();
    });
    </script>
{% endblock %}