{% extends 'base.html' %}

{% load staticfiles %}

{% block extracss %}

{% endblock %}

{% block heading %}
    <h1 class="page-header">{{ site }}/{{ location }}</h1>
{% endblock %}

{% block content %}

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#info" data-toggle="tab">Info</a>
                    </li>
                    <li><a href="#data" data-toggle="tab">Data</a>
                    </li>
                    <li><a href="#charts" data-toggle="tab">Charts</a>
                    </li>
                    <li><a href="#sensors" data-toggle="tab">Sensors</a>
                    </li>
                    <li><a href="#editLocation" data-toggle="tab">Edit Info</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="info">
                        <div id="map_container" class="col-md-6">
                            <h4>Position</h4>
                            <div id="map_canvas">
                            </div>
                        </div>
                        <div id="locationInfo" class="col-md-6">
                            <h4>Location Info</h4>
                            <ul id="basicInfo" class="list-unstyled">
                                <li><strong>Site:</strong> {{ site }}</li>
                                <li><strong>Location:</strong> {{ location }}</li>
                                <li><strong>GPS (WGS 84):</strong> {{ latitude }}, {{ longitude }}</li>
                            </ul>
                            <dl>
                                <dt>Description</dt>
                                <dd>{{ description }}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="data">
                        <h4>Data</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="tab-pane fade" id="charts">
                        <h4>Charts</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="tab-pane fade" id="editLocation">
                        <h4></h4>
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Location Info
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <form action="" method="POST">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                                <input class="btn btn-primary" type="submit" value="Save" />
                                                <button type="reset" class="btn btn-default">Reset</button>
                                            </form>
                                        </div>
                                        <!-- /.col-lg-6 (nested) -->
                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane fade" id="sensors">
                        <h4>Sensors</h4>
                        <div class="table-responsive">
                            <table id="sensorsTable" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>File Path</th>
                                        <th>Time Zone</th>
                                        <th>Time Identifiers</th>
                                        <th>Parameters</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="sensorsTableBody">
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- Tab panes -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->

{% endblock %}

{% block extrajs %}

    <!--Google Maps API-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnycWatbGyK6ldFqErjFtko1yeMclNUOA&amp;sensor=true"></script>

    <script type="text/javascript">
    $(document).ready(function() {

        var jsonSensorsUrl = '{% url 'sites:load_sensors' %}';
        var jsonAllSensorsDataUrl = jsonSensorsUrl + "?site_name=" + "{{ site }}" + "&location_name=" + "{{ location }}";
        console.log(jsonAllSensorsDataUrl);

        function initMap() {

            var latlng = new google.maps.LatLng({{ latitude }}, {{ longitude }});
            var myOptions = {
                zoom: 13,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.TERRAIN
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title: '{{ location }}' + ' ({{ latitude }}, {{ longitude }})'
            });

            google.maps.event.trigger(map, 'resize');

        }

        function initSensors(sensorsUrl) {

            $.getJSON(sensorsUrl, function(allSensorsData) {
                $.each(allSensorsData, function(i, sensor) {

                    var editSensorUrl = '{% url 'sites:manage_sensor' %}';
                    editSensorUrl += "?site_name=" + "{{ site }}";
                    editSensorUrl += "&location_name=" + "{{ location }}";
                    editSensorUrl += "&sensor_name=" + sensor.sensor;

                    $('#sensorsTableBody').append('<tr><td>' + sensor.sensor + '</td><td>' + sensor.description + '</td><td>' + sensor.file_info.path + '</td><td>' + sensor.time_zone + '</td><td>' + sensor.time_ids + '</td><td>' + sensor.parameters + '</td><td id="editSensor"></td><td id="deleteSensor"></td></tr>');
                    $('#editSensor').append('<a href="' + editSensorUrl + '"><i class="fa fa-gear fa-fw"></i></a>');
                    $('#deleteSensor').append('<a><i class="fa fa-trash-o fa-fw"></i></a>');

                });
            });

        }

    initMap();
    initSensors(jsonAllSensorsDataUrl);

    });
    </script>

    <script type="text/javascript">
        $('a[href="#info"]').on('shown', function(e) {
                google.maps.event.trigger(map, 'resize');
            });
            $("#map_canvas").css("width", 400).css("height", 400);

    </script>

{% endblock %}