{% extends 'base.html' %}

{% load staticfiles %}

{% block extracss %}

{% endblock %}

{% block heading %}
    <h1 class="page-header">{{ site }}/{{ location }}</h1>
{% endblock %}

{% block content %}

    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
        <li><a href="#profile" data-toggle="tab">Profile</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="info">
            <div id="map_canvas"></div>
        </div>
        <div class="tab-pane fade" id="profile">
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
    </div>

{% endblock %}

{% block extrajs %}

    <!--Google Maps API-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnycWatbGyK6ldFqErjFtko1yeMclNUOA&amp;sensor=true"></script>

    <script type="text/javascript">
    $(document).ready(function() {

        var latlng = new google.maps.LatLng({{ latitude }}, {{ longitude }});
        var myOptions = {
            zoom: 11,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        };
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: '{{ location }}' + ' ({{ latitude }}, {{ longitude }})'
        });

        google.maps.event.trigger(map, 'resize');

        $('a[href="#info"]').on('shown', function(e) {
            google.maps.event.trigger(map, 'resize');
        });
        $("#map_canvas").css("width", 400).css("height", 400);

    });
    </script>

{% endblock %}