{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block heading %} <h1 class="page-header">Manage Sensor</h1> {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Sensor Info
                </div>
                <div class="panel-body">
                    {% crispy form %}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <!-- Modal -->
    <div class="modal fade" id="mySensorModal" tabindex="-1" role="dialog" aria-labelledby="mySensorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="mySensorModalLabel">Attention</h4>
                </div>
                <div class="modal-body">
                    All changes will be lost.
                </div>
                <div class="modal-footer">
                    <a href="{% url 'sites:load_location' %}?site_name={{ site_name }}&location_name={{ location_name }}" class = "btn btn-default" role = "button">Leave Anyway</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        $(document).ready(function() {

            $('input[type=radio][name=time_format]').on('click', function() {
                    if (this.value == 'timestamp') {
                        $('#div_id_time_ids').hide();
                    }
                    else if (this.value == 'campbell') {
                        $('#div_id_time_ids').show();
                    }
                });
        });
    </script>
{% endblock %}