{% extends 'base.html' %}

{% block heading %}
<h1 class="page-header">Manage Site</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Basic Info
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input class="btn btn-primary" type="submit" value="Save" />
                            <button type="reset" class="btn btn-default">Clear</button>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

{% endblock %}