{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} {{ logger_time_format_name }} {% endblock %}

{% block heading %}<h1 class="page-header"></h1>{% endblock %}

{% block extracss %}
    <style>
        .clickableSpan {
            cursor: pointer;
            cursor: hand;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Logger Time Format Info</div>
                <div class="panel-body">{% crispy form %}</div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->

    <!-- Modal -->
    <div class="modal fade" id="id-deleteLoggerTimeFormatModal" tabindex="-1" role="dialog"
        aria-labelledby="id-deleteLoggerTimeFormatModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="id-deleteLoggerTimeFormatModalLabel">
                        <i class="fa fa-warning fa-fw"></i> Attention
                    </h4>
                </div>
                <div class="modal-body">Delete this logger type? This operation cannot be undone!</div>
                <div class="modal-footer">
                    <a href="{% url 'sites:delete_logger_time_format' %}?logger_type_format_id={{ logger_type_format_id }}"
                       class="btn btn-default" role="button">OK
                    </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
                <!-- /.modal-footer -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
    $(document).ready(function () {
        var redirectToIndexUrl = '{% url 'sites:index' %}';
        var loggerTimeFormatId = '{{ logger_time_format_id }}';
        var loggerTimeFormatName = '{{ logger_time_format_name }}';

        if (loggerTimeFormatName) {
            $('.page-header').text("Manage Logger Time Format: " + loggerTimeFormatName);
            $('.panel-title').append(
                '<span id="id-deleteLoggerTimeFormatSpan" class="clickableSpan">'
                    + '<i class="fa fa-trash-o fa-fw pull-right"></i>'
                + '</span>'
            );
            $('#id-deleteLoggerTimeFormatSpan').attr('data-toggle', "modal");
            $('#id-deleteLoggerTimeFormatSpan').attr('data-target', "#id-deleteLoggerTimeFormatModal");
        }
        else {
            $('.page-header').text("Add New Logger Time Format");
        }

        $('#id-cancelBtn').on('click', function () {
            document.location.href = redirectToIndexUrl;
        });
    });
    </script>
{% endblock %}