{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block extracss %}

    <style>
        .clickableFont {
         cursor: pointer;
        }
        .tab-content {
            padding: 15px;
        }
    </style>

{% endblock %}


{% block heading %} <h1 class="page-header">Manage Sensor</h1> {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Sensor Info
                </div>
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#basicInfo" data-toggle="tab">Basic Info</a>
                        </li>
                        <li><a href="#fileInfo" data-toggle="tab">File Info</a>
                        </li>
                        <li><a href="#timeInfo" data-toggle="tab">Time Info</a>
                        </li>
                        <li><a href="#parameterInfo" data-toggle="tab">Parameter Info</a>
                        </li>
                    </ul>

                    <!-- Form -->
                    <form>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="basicInfo">
                                {% crispy form form.helper1 %}
                            </div>
                            <div class="tab-pane fade" id="fileInfo">
                                {% crispy form form.helper2 %}
                            </div>
                            <div class="tab-pane fade" id="timeInfo">
                                {% crispy form form.helper3 %}
                            </div>
                            <div class="tab-pane fade" id="parameterInfo">
                                {% crispy form form.helper4 %}
                            </div>
                        </div>
                        <!-- /.tab-content -->
                        <input class="btn btn-primary" type="submit" value="Save" />
                        <button type="reset" class="btn btn-default">Reset</button>
                        <button type="button" class="btn btn-outline btn-danger pull-right">Delete</button>
                    </form>
                    <!-- /.form -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% endblock %}

{% block extrajs %}

    <script type="text/javascript">
        $(document).ready(function() {



            function shiftParamFields(targetId) {

                var replaceInputId = null;

                var $data = $('input[id^="id_param_"]');
                var len = $data.length;

                $data.each(function (i, obj) {

                    var currentId = obj.id;


                    if (replaceInputId) {

                        var currentValue = obj.value;

                        $('#' + replaceInputId).attr('value', currentValue);

                        replaceInputId = currentId;
                    }

                    if (i == len - 1) {

                        $('#' + currentId).parent('p').remove();
                    }

                    if (currentId == targetId) {

                        replaceInputId = currentId;
                    }



                });
            }



        $('i[id^="icon_del_id_param_"]').click(function() {
                var $targetFieldId = $(this).parents('p').find('input').attr('id');
                shiftParamFields($targetFieldId);
            });
        });
    </script>

{% endblock %}