{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block heading %}<h1 class="page-header">Manage Site</h1>{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Site Info
                </div>
                <div class="panel-body">
                    {% crispy form %}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% endblock %}

{% block extrajs %}

    <script type="text/javascript">
        $(document).ready(function() {
            var homeUrl = '{% url 'sites:index' %}'
            cancelBtnUrl = "location.href='" + homeUrl + "';"
            $('#button-id-cancel').attr('onclick',cancelBtnUrl);
        });
    </script>

{% endblock %}