{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} {{ site_name }} {% endblock %}

{% block heading %}<h1 class="page-header"><i class="fa fa-globe fa-fw"></i>{{ site_name }}</h1>{% endblock %}

{% block extracss %}
    <style>
        .mapCanvas {
            height: 500px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Site Info</h4>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="map" class="mapCanvas"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel-default -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}

{% block extrajs %}

    <!-- Google Maps API-->
    <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>

    <!-- GMaps javasript-->
    <script type="text/javascript" src="{% static 'hpneo-gmaps-41d5eaa/gmaps.js' %}"></script>

    <script type="text/javascript">
    var map;
    $(document).ready(function (){
        var siteId = '{{ site_id }}';
        var siteName = '{{ site_name }}';
        var siteLatitude = {{ site_latitude }};
        var siteLongitude = {{ site_longitude }};
        map = new GMaps({
            div: '#map',
            lat: Math.round(siteLatitude * 1000000) / 1000000,
            lng: Math.round(siteLongitude * 1000000) / 1000000
        });
        var jsonSiteLocationsDataUrl = '{% url 'locations:load_site_locations_json' %}' + '?json_request=' + true
            + '&site_id=' + siteId;
        $.getJSON(jsonSiteLocationsDataUrl, function (locationData) {
            $.each(locationData, function (i, location) {
                var locationLatitude = location.location_latitude;
                var locationLongitude = location.location_longitude;
                if (locationLatitude && locationLongitude) {
                    map.addMarker({
                        lat: Math.round(locationLatitude * 1000000) / 1000000,
                        lng: Math.round(locationLongitude * 1000000) / 1000000,
                        title: location.location_name,
                        details: {
                            database_id: 42,
                        },
                    });
                }
            });
        });
    });
    </script>
{% endblock %}