amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
cassandra-driver==3.1.1
celery==3.1.23
Cython==0.23.4
Django==1.9.4
django-cassandra-engine==0.7.2
django-common-helpers==0.8.0
django-crispy-forms==1.6.0
kombu==3.0.35
python-dateutil==2.5.0
pytz==2015.7
PyYAML==3.11
six==1.10.0
wheel==0.29.0
