{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} {{ site_name }}/{{ location_name }} {% endblock %}

{% block heading %}<h1 class="page-header"></h1>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Log Update Info
                    </h4>
                </div>
                <div class="panel-body">{% crispy form %}</div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
    $(document).ready(function () {
        var redirectToLocationUrl = '{% url 'logs:location_logs' %}';
        var siteName = '{{ site_name }}';
        var locationId = '{{ location_id }}';
        var locationName = '{{ location_name }}';
        var logId = '{{ log_id }}';
        var logName = '{{ log_name }}';

        redirectToLocationUrl += '?site_name=' + siteName + '&location_id=' + locationId
            + '&location_name=' + locationName;

        $('.page-header').text("Manage Log: " + logName);

        function showUpdateIntervalFields () {
            $('#div_id_update_interval').show();
            $('#id_update_interval').prop('required', true);
            $('#div_id_update_at_time').show();
            $('#id_update_at_time').prop('required', true);
            if ($('#id_update_interval').val() == 'daily') {
                $('#div_id_update_at_time').find('label').text("Update At Hour (UTC)");
            }
            else if ($('#id_update_interval').val() == 'hourly') {
                $('#div_id_update_at_time').find('label').text("Update Starting At Hour (UTC)");
            }
        }

        function hideUpdateIntervalFields () {
            $('#div_id_update_interval').hide();
            $('#id_update_interval').prop('required', false);
            $('#div_id_update_at_time').hide();
            $('#id_update_at_time').prop('required', false);
        }

        function checkInitUpdateInterval() {
            if ($('#id_update_is_active').is(":checked")) {
                showUpdateIntervalFields();
            }
            else {
                hideUpdateIntervalFields();
            }
        }

        $('#id-cancelBtn').on('click', function () {
            document.location.href = redirectToLocationUrl;
        });

        $('#id_update_is_active').on('click', function() {
            if ($(this).is(":checked")) {
                showUpdateIntervalFields();
            }
            else {
                hideUpdateIntervalFields();
            }
        });

        $('#id_update_interval').change(function () {
            if ($(this).val() == 'daily') {
                $('#div_id_update_at_time').find('label').text("Update At Hour (UTC)");
            }
            else if ($(this).val() == 'hourly') {
                $('#div_id_update_at_time').find('label').text("Update Starting At Hour (UTC)");
            }
        });


    checkInitUpdateInterval();
    });
    </script>
{% endblock %}