{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HydroView | {% block title %}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">

    <!-- MetisMenu CSS -->
    <link rel="stylesheet" href="{% static 'metisMenu/dist/metisMenu.min.css' %}">

    <!-- Timeline CSS -->
    <link rel="stylesheet" href="{% static 'startbootstrap-sb-admin-2/dist/css/timeline.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'startbootstrap-sb-admin-2/dist/css/sb-admin-2.css' %}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

    {% block extracss %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    </head>

    <body>

    <div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

        <!-- navbar-header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/sites/">HydroView</a>
        </div>
        <!-- /.navbar-header -->

        <!-- navbar-top-links -->
        <ul class="nav navbar-top-links navbar-right">

            <!-- dropdown-sites -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-globe fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-sites">
                    <li class="dropdown-header">Installed Sites</li>
                    <li id="id-sitesDropdown" class="divider"></li>
                    <li><a href="{% url 'sites:manage_site' %}"><i class="fa fa-plus fa-fw"></i> Add Site</a></li>
                </ul>
            <!-- /.dropdown-sites -->
            </li>
            <!-- /.dropdown -->
            <!-- /dropdown-qcs -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-check-circle fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-qcs">
                    <li class="dropdown-header">Installed QC:s</li>
                    <li id="id-qualityControlsDropdown" class="divider"></li>
                    <li><a href="{% url 'qcs:manage_quality_control' %}"><i class="fa fa-plus fa-fw"></i> Add QC</a></li>
                </ul>
                <!-- /.dropdown-qcs -->
            </li>
            <!-- /.dropdown -->
            <!-- /dropdown-settings -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-gear fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-settings">
                    <li><a href="{% url 'sites:settings' %}"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
                </ul>
                <!-- /.dropdown-settings -->
            </li>
            <!-- /.dropdown -->
            <!-- /dropdown-users -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->

        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu"></ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->

    </nav>
    <!-- /. navbar-default -->

    <!-- #page-wrapper -->
    <div id="page-wrapper">
        <div class="row">
            {% block heading %}{% endblock %}
        </div>
        <!-- /.row -->
        {% block content %}{% endblock %}
    </div>
    <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'startbootstrap-sb-admin-2/dist/js/sb-admin-2.js' %}"></script>

    <!-- Add Configured Sites JavaScript -->
    <script type="text/javascript">
    $(document).ready(function () {

        var jsonSitesUrl = '{% url 'sites:load_all_sites_json' %}' + '?json_request=' + true;
        var jsonSiteLocationsUrl = '{% url 'locations:load_site_locations_json' %}' + '?json_request=' + true;
        var jsonAllSitesDataUrl = jsonSitesUrl;
        var $sideMenu = $('#side-menu');

        $.getJSON(jsonAllSitesDataUrl, function (allSitesData) {
            $.each(allSitesData, function (i, site) {
                $sideMenu.append(
                    '<li id="id-' + site.site_id + '">'
                        + '<a href="#">'
                            + '<i class="fa fa-globe fa-fw"></i>' + ' ' + site.site_name
                            + '<span class="fa arrow"></span>'
                        + '</a>'
                        + '<ul id="id-' + site.site_id + '-nav"' + ' class="nav nav-second-level collapse in"></ul>'
                    + '</li>'
                );
                var loadSiteUrl = '{% url 'sites:site_info' %}'
                    + '?site_id=' + site.site_id;
                var manageLocationUrl = '{% url 'locations:manage_location' %}'
                    + '?site_id=' + site.site_id + '&site_name=' + site.site_name;
                $('#id-' + site.site_id + '-nav').append(
                    '<li>'
                        + '<a href=' + loadSiteUrl + '>'
                            + '<i class="fa fa-dashboard fa-fw"></i> Status'
                        + '</a>'
                    + '</li>'
                    + '<li>'
                        +'<a href=' + manageLocationUrl + '>'
                            + '<i class="fa fa-plus fa-fw"></i> Add Location</a>'
                    + '</li>'
                );
                jsonSiteLocationsDataUrl = jsonSiteLocationsUrl + '&site_id=' + site.site_id;
                var manageSiteUrl = '{% url 'sites:manage_site' %}'
                    + '?site_id=' + site.site_id + '&site_name=' + site.site_name;
                $('#id-sitesDropdown').before(
                    '<li>'
                        + '<a href=' + manageSiteUrl + '><i class="fa fa-edit fa-fw"></i>' + ' ' + site.site_name
                        + '</a>'
                    + '</li>'
                );
                $.getJSON(jsonSiteLocationsDataUrl, function (locationData) {
                    $.each(locationData, function (i, location) {
                        var loadLocationUrl = '{% url 'locations:location_info' %}'
                            + '?site_id=' + site.site_id + '&location_id=' + location.location_id;
                        loadLocationLogsUrl = '{% url 'logs:location_logs' %}'
                            + '?site_name=' + site.site_name + '&location_id=' + location.location_id
                            + '&location_name=' + location.location_name;
                        var manageLocationUrl = '{% url 'locations:manage_location' %}'
                            + '?site_id=' + site.site_id + '&site_name=' + site.site_name
                            + '&location_id=' + location.location_id + '&location_name=' + location.location_name;
                        $('#id-' + site.site_id + '-nav').append(
                            '<li id="id-' + location.location_id + '">'
                                + '<a href="#">'
                                    + '<i class="fa fa-map-marker fa-fw"></i>' + ' ' + location.location_name
                                    + '<span class="fa arrow"></span>'
                                + '</a>'
                                + '<ul class="nav nav-third-level collapse in">'
                                    + '<li>'
                                        + '<a href="' + loadLocationUrl + '">'
                                            + '<i class="fa fa-dashboard fa-fw"></i> Status'
                                        + '</a>'
                                    + '</li>'
                                    + '<li><a href="#"><i class="fa fa-table fa-fw"></i> Data</a></li>'
                                    + '<li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts</a></li>'
                                    + '<li>'
                                        + '<a href="' + loadLocationLogsUrl + '">'
                                            + '<i class="fa fa-sitemap fa-fw"></i> Logs'
                                        + '</a>'
                                    + '</li>'
                                    + '<li>'
                                        + '<a href="' + manageLocationUrl + '">'
                                            + '<i class="fa fa-edit fa-fw"></i> Manage Location'
                                        + '</a>'
                                    + '</li>'
                                + '</ul>'
                            + '</li>'
                        );
                    });
                });
            });
        });
        var jsonQualityControlsUrl = '{% url 'qcs:load_all_quality_controls_json' %}';
        $.getJSON(jsonQualityControlsUrl, function (allQualityControlsData) {
            $.each(allQualityControlsData, function (i, QC) {
                var manageQualityControlUrl = '{% url 'qcs:manage_quality_control' %}';
                manageQualityControlUrl += '?qc_level=' + QC.qc_level + '&qc_name=' + QC.qc_name;
                $('#id-qualityControlsDropdown').before(
                    '<li>'
                        + '<a href=' + manageQualityControlUrl + '>'
                            + '<i class="fa fa-edit fa-fw"></i>' + ' ' + QC.qc_level + ': ' + QC.qc_name
                        + '</a>'
                    + '</li>'
                );
            });
        });
    });
    </script>

    {% block extrajs %}{% endblock %}

    </body>

</html>