{% load staticfiles %}

<!doctype html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}HydroView | {{ site_name }}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static 'startbootstrap-sb-admin-2/dist/css/timeline.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{% static 'startbootstrap-sb-admin-2/dist/css/sb-admin-2.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    {% block extracss %} {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">HydroView</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-gear fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-settings">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu"></ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->

        </nav>

        <div id="page-wrapper">
            <div class="row">
                {% block heading %} {% endblock %}
            </div> <!-- /.row -->
                {% block content %} {% endblock %}
        </div> <!-- /#page-wrapper -->
    </div> <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- JQuery Validation JavaScript -->
    <script src="{% static 'jquery-validation/jquery.validate.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'startbootstrap-sb-admin-2/dist/js/sb-admin-2.js' %}"></script>

    <!-- Add Configured Sites JavaScript -->
    <script type="text/javascript">
    $(document).ready(function() {

        var jsonSitesUrl = '{% url 'sites:load_sites_data' %}';
        var jsonLocationsUrl = '{% url 'sites:load_locations_data' %}';

        var jsonAllSitesDataUrl = jsonSitesUrl + "?name=load_all_sites";

        var $sites = $('#side-menu');


        $.getJSON(jsonAllSitesDataUrl, function(allSitesData) {
            $.each(allSitesData, function(i, val) {

                    $sites.append("<li id='" + val.site + "'>" + "<a href='#'>" + val.site + "<span class='" + "fa arrow" + "'</span>" + "</a></li>");
                    $sites.append("<ul id='" + val.site + "-nav'" + " class='nav nav-second-level'></ul>");
                    jsonLocationDataUrl = jsonLocationsUrl + "?name=load_site" + "&site=" + val.site;

                    $.getJSON(jsonLocationDataUrl, function(locationData) {

                        $.each(locationData, function(i ,v) {

                            if (val.site === v.site) {
                                loadLocUrl = '{% url 'sites:load_location' %}' + "?site_name=" + val.site + "&location_name=" + v.location;
                                $('#' + val.site + '-nav').append("<li id='" + v.location + "'>" + "<a href='" + loadLocUrl +"'><i class='fa fa-map-marker fa-fw'></i>" + " " + v.location + "</a></li>");
                            }
                        });

                    });

                });
            });

        });

    </script>
    {% block extrajs %} {% endblock %}

</body>

</html>